<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Tabela de dados</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>Avaliação</h1>
    <p>
        <a href="/add">Adicionar</a> 
    </p>
    
    